<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Library</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
  <h2 class="text-center">Books </h2>


<div class="my-3">
  <form method="post" action="filter">
    <div class="row d-flex">
      <div class="col-md-6 mt-2">
        <div class="search">
          <input id="keyword" type="search" name="filter" th:value="${filter}" required class="form-control"
                 placeholder="Enter keyword">
          <button type="submit" class="btn btn-primary mr-1 mt-2">Search</button>
          <button id="btnClear" class="btn btn-secondary mt-2">Clear</button>
        </div>
      </div>
    </div>
  </form>
</div>

  <div th:if="${books.size() > 0}">
    <table class="table table-hover table-responsive-xl">
      <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th scope="col">Isbn</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Available</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book : ${books}">
        <th scope="row">[[${book.id}]]</th>
        <td>[[${book.title}]]</td>
        <td>[[${book.author}]]</td>
        <td>[[${book.publisher}]]</td>
        <td>[[${book.isbn}]]</td>
        <td>
          <a th:href="@{/edit/{id}(id=${book.id})}" title="Edit this tutorial"
             class="fa-regular fa-pen-to-square icon-dark"></a>
        </td>
        <td>
          <a th:href="@{/delete/{id}(id=${book.id})}"  th:bookTitle="${book.title}" id="btnDelete"
             title="Delete this tutorial" class="fa-regular fa-trash-can icon-dark btn-delete" ></a>
        </td>
        <td
           th:if="${book.given == true}"
             th:href="@{'/index/' + ${book.id} + '/given/false'}" title="Disable this tutorial"> &#10004; </td>
          <td th:if="${book.given == false}"
             th:href="@{'/index/' + ${book.id} + '/given/true'}" title="Enable this tutorial">
        </td>
        <td>
          <a type="button" class="btn btn-outline-primary" th:href="@{/delete/{id}(id=${book.id})}"  th:bookTitle="${book.title}" >Give</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

<div class="modal fade text-center" id="confirmModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <span id="confirmText"></span>
      </div>

      <div class="modal-footer">
        <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(".btn-delete").on("click", function (e) {
      e.preventDefault();
      link = $(this);

      bookTitle = link.attr("bookTitle");
      $("#yesBtn").attr("href", link.attr("href"));
      $("#confirmText").html("Do you want to delete the Tutorial \<strong\>" + bookTitle + "\<\/strong\>?");
      $("#confirmModal").modal();
    });

    $("#btnClear").on("click", function (e) {
      e.preventDefault();
      $("#keyword").text("");
      window.location = "[[@{/index}]]";
    });
  });
</script>
</body>
</html>